  body {
      --color1: #FFF;
      --color2: #130f40;
  }

  img {
      max-width: 100%;
  }

  .nav-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      background-color: var(--color2);
      padding: 12px 20px;
  }

  .menu {
      display: flex;
  }

  .menu li {
      padding-left: 30px;
      position: relative;
  }

  .menu li a {
      display: inline-block;
      text-decoration: none;
      color: #12CBC4;
      text-align: center;
      font-weight: 600;
      transition: 0.15s ease-in-out;
      position: relative;
  }

  .menu li a.active {
      color: #f39c12;
  }

  .menu li a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #12CBC4;
      transition: 0.15s ease-in-out;
  }

  .menu li a:hover:after {
      width: 100%;
  }

  .open-menu,
  .close-menu {
      position: absolute;
      color: var(--color1);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
  }

  .open-menu {
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }

  .close-menu {
      top: 20px;
      right: 20px;
  }

  #check {
      display: none;
  }

  @media(max-width: 576px) {
      .menu {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          right: -100%;
          z-index: 100;
          background-color: var(--color2);
          transition: all 0.2s ease-in-out;
      }

      .menu li a {
          padding: 10px;
      }

      .open-menu,
      .close-menu {
          display: block;
      }

      #check:checked~.menu {
          right: 0;
      }
  }